@import "./../cart/header.css";
@import "./../cart/section_all-the-items.css";
@import "./../cart/footer.css";

main {
    --padding-p: 25px;
    --padding-top-p: 40px;
    /*******************************************/
    /*header variables*/
    --header-tittle-size_cart: clamp(24px,3.3vw,42px);
    --header-info-size_cart: clamp(14px,1.3vw,16px);
    /*main variables*/
    --margin-top_cart: 20px; /*clamp(20px,2.6vw,48px);*/    /**************/
    --size-info-product_cart: 0.5fr;                                /************/
    --space-between-button_cart: 0px; /*clamp(10px,3vw,25px);           /**************/
    --font-description-item_cart: clamp(14px,1.2vw,22px);        /**************/
    --font-button-item_cart: clamp(18px,1.6vw,30px);             /**************/
    /*footer variables*/
    --font-size-footer_cart: clamp(14px,1.2vw,22px);
    --gap-footer_cart: clamp(5px,1.1vw,20px);
    --checkbox-size_cart: clamp(24px,1.8vw,32px);
    /*******************************************/

    display: grid;
    grid-template-columns: repeat(2,1fr);  /**/
    gap: 30px;
    padding: var(--padding-p);
    padding-top: var(--padding-top-p);
}

header,
.all-the-items {
    grid-column: 1/3;
}
footer {
    grid-column: 2/3;
}