@import "./../cart/header.css";
@import "./../cart/section_all-the-items.css";
@import "./../cart/footer.css";

main {
    --padding-p: 25px;
    --padding-top-p: 40px;
    /*******************************************/
    /*header variables*/
    --header-info-size_cart: clamp(10px,1.3vw,16px);
    --header-padding_bottom_cart: clamp(10px, 1.6vw, 30px);
    --header-gap_cart: clamp(20px, 3vw, 50px);
    /*main variables*/
    --margin-top_cart: clamp(10px,2.6vw,48px);
    --gap-item-description: clamp(5px,1.1vw,20px);
    --space-between-button_cart: clamp(10px,1.4vw,25px);
    --font-item_cart: clamp(11px,1.5vw,22px);
    --font-button-item_cart: clamp(18px,1.6vw,30px);
    --space_between-product: clamp(5px, 1vw,10px);
    /*footer variables*/
    --font-size-footer_cart: clamp(13px,1.7vw,22px);
    --gap-footer_cart: clamp(5px,1.1vw,20px);
    --checkbox-size_cart: clamp(24px,1.8vw,32px);
    /*******************************************/

    display: grid;
    grid-template-columns: repeat(2,1fr);  /**/
    gap: 0px;
    padding: var(--padding-p);
    padding-top: var(--padding-top-p);
}

header,
.all-the-items {
    grid-column: 1/3;
}
footer {
    grid-column: 2/3;
}



@media screen and (max-width: 570px) {
    /*for the main*/
    main {
        --padding-top-p: 20px;
    }

    /*for each item*/
    .products-shopping_cart {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, calc(100% / 4));
        gap: 0px;
        --gap-item-description: 2px;
    }
    /*"product"*/
    .product-description-shopping_cart {
        grid-column: 1/2;
        display: flex;
        flex-direction: column;
    }
    /*"price"*/
    .product-price-shopping_cart {
        grid-column: 2/3;
    }
    /*"quantity"*/
    .product-button-shopping_cart {
        grid-column: 3/4;
        max-width: 82.57px;
    }
    /*"total"*/
    .product-total-shopping_cart {
        grid-column: 4/5;
    }

    /*for the footer*/
    footer {
        grid-column: 1/3;
    }
}