header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.cancel_symbol {
    position: absolute;
    top: 33px;
    right: 33px;
    width: 24px;
    height: 24px;
}
.cancel_symbol:hover {
    color: var(--color-primary);
    cursor: pointer;
}
header p {
    font-family: Poppins;
    font-weight: 400;
    font-size: var(--header-info-size);
    color: var(--color-darkest-gray);
}
header > p > strong {
    color: var(--color-black);
}