@import "./../product/product_details-section.css";

.all-the-items {
    margin-top: var(--margin-top-main);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 48vh;
    overflow-y: auto;
    flex-wrap: nowrap;
}
.all-the-items::-webkit-scrollbar {
    width: 1px; 
}

/*Each item*/
.products-shopping_cart {
    padding-top: var(--space-between-button);
    padding-bottom: var(--space-between-button);
    display: grid;
    grid-template-columns: repeat(2,var(--size-info-product));
    gap: var(--space-between-button);
    border-bottom: 1px solid var(--color-black-with-transparency);
}
.product-description-shopping_cart {
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
/*product's image*/
.product-img-shopping_cart {
    grid-column: 1/2;
    height: auto;
}
/*product's name*/
.product-name-shopping_cart {
    font-family: Volkhov;
    font-weight: 400;
    font-size: var(--font-description-item);
    color: var(--color-black);
}
/*product's color and price*/
.product-color-shopping_cart,
.product-price-shopping_cart {
    font-family: Poppins;
    font-weight: 400;
    font-size: var(--font-description-item);
    color: var(--color-darkest-gray);
}
.product-price-shopping_cart {
    color: var(--color-black);
}
/*product's button*/
.quantity_button {
    border: 1px solid var(--color-darkest-gray);
    width: 100%;
    background-color: var(--color-lightest-gray-v2);
    border: 1px solid var(--color-lightest-gray-v2);
}
.quantity_button > button {
    font-size: var(--font-button-item);
}
.quantity_button > .button-more,
.quantity_button > .button-less {
    font-weight: 500;
}
.quantity_button > .button-value {
    color: var(--color-darkest-gray);
}
.quantity_button > button:not(.button-value):hover,
.quantity_button > button:not(.button-value):active {
    background-color: var(--color-lightest-blue);
    color: var(--color-primary);
}
