.footer-sale-information {
    margin: var(--margin-second_column);
}
/*ways of interactions*/
.item-interaction {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: clamp(15px, calc(var(--max-width)*0.052), 30px);
    padding-top: 10px;      /**/
    padding-bottom: 10px;   /**/
    margin-right: var(--inter-margin-right);
    border-bottom: 1px solid var(--color-darkest-gray-red);
}
.item-interaction > [class^='interaction'] {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: clamp(1px, calc(var(--max-width)*0.005), 10px);
    
    font-family: Jost;
    font-weight: 400;
    font-size: clamp(10px, calc(var(--max-width)*0.022), 12px);
}
.item-interaction > [class^='interaction']:hover,
.item-interaction > [class^='interaction']:active {
    color: var(--color-primary);
    cursor: pointer;
}
/*shipping information*/
.shipping-info {
    display: flex;
    flex-direction: column;
    gap: 7px;

    padding-top: clamp(15px, calc(var(--max-width)*0.052), 30px);
    padding-bottom: clamp(15px, calc(var(--max-width)*0.052), 30px);
}
[class$='shipping'] {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}
[class$='shipping'] > h4 {
    font-family: Volkhov;
    font-weight: 700;
    font-size: clamp(10px, calc(var(--max-width)*0.035), 16px);
}
[class$='shipping'] > p {
    font-family: Poppins;
    font-weight: 400;
    font-size: clamp(10px, calc(var(--max-width)*0.035), 16px);
}
/*payment*/
.payment-methods {
    font-family: Volkhov;
    font-weight: 400;
    font-size: clamp(12px, calc(var(--max-width)*0.035), 16px);
    margin-right: var(--inter-margin-right);

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--color-lighter-gray);
    border-radius: 5px;

    padding-top: clamp(20px, calc(var(--max-width)*0.052), 30px);
    padding-bottom: clamp(10px, calc(var(--max-width)*0.035), 20px);
    gap: 10px;
}
.payment-methods > img {
    width: clamp(100px,calc((var(--max-width) - var(--inter-margin-right))*0.57), 320px);
    aspect-ratio: 5/0.4;
}