footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.375rem;
}
footer > .new_page-button {
    width: clamp(4rem,2.4vw,5.5rem);
    height: clamp(4rem,2.4vw,5.5rem);
    aspect-ratio: 1;
    border-radius: 100%;

    cursor: pointer;
    transition: all 0.3s;
    background-color: transparent;
    border: solid 1px transparent;

    color: var(--color-black);
    font-family: Jost Variable;
    font-weight: 400;
}
footer > .new_page-button:hover {
    background-color: var(--color-lighter-gray-new_page);
    border: solid 1px var(--color-lighter-gray-new_page);
    transition: none;
}