.icons-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*Icons and logo*/
.img-logo { 
    display: block;     /*img is type inline*/
}
.icons-header {
    width: 100%;
    padding: 2rem;
    max-width: 1280px;
    margin-top: 4rem;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}
.header-icons {
    width: 18.4rem;
    height: 4.25rem;
    display: flex;
    gap: 1.5rem;
    justify-content: flex-end;
}
[class*="icon-button"] {
    width: 4.25rem;
    height: 4.25rem;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    color: var(--color-darker-black);
    transition: all 150ms;
}
[class*="icon-button"]:hover {
    color: var(--color-primary);
}
.logo-box {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
}
.menu-icon-button {
    color: var(--color-darker-black);
    background-color: var(--color-lightest-gray);
    border-radius: 0.7rem;
    border: 0.1rem solid var(--color-darker-black);
    text-align: center;
    display: none;
}
.menu-icon-button:hover {
    color:var(--color-primary);
}

/*Navigation*/
.navigation-header {
    background: var(--color-lightest-gray);
    width: 100%;
    height: 51px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: clamp(0.1rem, 5.5vw, 10rem);
    border-top: solid 1px var(--color-lighter-gray);
    border-bottom: solid 1px var(--color-lighter-gray);
}
[class*="nav-button"] {
    text-transform: uppercase;
    text-decoration: none;
    font-family: Roboto;
    font-size: clamp(0.1rem, 5.5vw, 2rem); /*max 16px = 2rem*/
    font-weight: 700;
    line-height: 2.35rem;
    text-align: left;
    color: var(--color-darker-black);
    transition: all 150ms;
}
.navigation-header>[class*="nav-button"]:hover {
    color: var(--color-primary);
}

@media screen and (max-width: 768px) {
    .navigation-header {
        display: none;
    }
    .icons-header {
        border-bottom: solid 1px var(--color-lighter-gray);
    }
    .menu-icon-button {
        display: block;
    }
}
