@import "./minicart/header.css";
@import "./minicart/main.css";
@import "./minicart/footer.css";

body {
    background-color: var(--color-gray-with-transparency);
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(10,1fr);  /**/
}
.shopping-cart {
    /****************************************/
    --padding-left-p: 45px;
    --padding-right-p: 60px;
    --padding-top-p: 25px;
    --padding-bottom-p: 25px;
    /****************************************/
    /*header variables*/
    --header-tittle-size: clamp(24px,2.5vw,42px);
    --header-info-size: clamp(14px,1.5vw,26px);
    /*main variables*/
    --margin-top-main: 20px; /*clamp(20px,2.6vw,48px);*/
    --size-info-product: 0.27fr;
    --space-between-button: clamp(10px,3vw,25px);
    --font-description-item: clamp(14px,1.2vw,22px);
    --font-button-item: clamp(18px,1.6vw,30px);
    /*footer variables*/
    --font-size-footer: clamp(14px,1.2vw,22px);
    --gap-footer: clamp(5px,1.1vw,20px);
    --checkbox-size: clamp(24px,1.8vw,32px);
    /****************************************/

    grid-column: 7/11;
    background-color: var(--color-white);
    padding-left: var(--padding-left-p);
    padding-right: var(--padding-right-p);
    padding-top: var(--padding-top-p);
    padding-bottom: var(--padding-bottom-p);

    display: flex;
    flex-direction: column;
    min-width: 500px;       /**/  
}

@media screen and (max-width: 760px) {
    body {
        display: flex;
        flex-direction: column;
        overflow: auto;
    }
    .shopping-cart {
        --padding-right-p: 10px;
        --padding-left-p: 10px;
        min-width: 300px;
    }
    main {
        flex-grow: unset;
        height: auto;
        overflow-y:unset;
        flex-wrap: nowrap;
    }
} @media screen and (max-width: 610px) {
    .shopping-cart {
        --size-info-product: 0.32fr;
    }
} @media screen and (max-width: 520px) {
    .shopping-cart {
        --size-info-product: 0.35fr;
    }
} @media screen and (max-width: 360px) {
    .shopping-cart {
        --size-info-product: 0.4fr;
    }
}