.product-card {
    width: var(--width-card);
    height: var(--width-height);
    border-radius: 1.25rem;
    border: 0.125rem solid var(--color-lightest-gray-red);
    padding: 2rem;
    box-sizing: border-box;

    font-family: Poppins;
    color: var(--color-darker-black);
    text-align: left;
    font-weight: 500;

    display: flex;
    flex-direction: column;
}
.product-card-img {
    width: 100%;
    height: auto;
    aspect-ratio: 1;
    object-fit: contain;
    background-color: var(--color-lightest-gray);
    border-radius: 0.625rem;
}
.product-card-title {
    font-size: clamp(1.7rem,1.1vw,2.5rem);
    font-weight: 500;
    text-align: left;
}
.product-card-band {
    color: var(--color-darkest-gray);
    font-size: clamp(1.2rem,0.7vw,1.5rem);
}
.product-card > .product-card-price {
    display: flex;
    align-items: baseline;
    letter-spacing: -0.01em;
    gap: clamp(0.7rem,0.5vw,1rem);
}
.product-card-discount_price {
    font-size: clamp(1.8rem,1.4vw,3rem);
    
}
.product-card-original_price {
    color: var(--color-darker-gray);
    font-size: clamp(1.5rem,1vw,2rem);
    text-decoration: line-through;
}
.product-card-colors {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
}
.product-color {
    width: 3rem;
    height: 3rem;
    aspect-ratio: 1;
    border-radius: 100%;
    cursor: pointer;
    transition: all 0.3s;
    border: solid 1px transparent;
}
.product-color:hover {
    border-color: var(--color-primary);
}
.product-card-buy-button {
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
    background-color: var(--color-white);

    width: 100%;
    height: clamp(4rem,2.4vw,5rem);
    margin-top: auto;
}
.product-card-buy-button:hover {
    color: var(--color-white);
    border: 1px solid var(--color-white);
    background-color: var(--color-primary);
}