.footer {
    font-family: Poppins;
    font-weight: 400;
    font-size: 12px;

    padding: 20px;
    padding-top: 0px;
    padding-bottom: 50px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.footer p {
    grid-column: 1;
    align-items: center;
}


@media screen and (max-width:768px) {
    .footer {
        display: flex;
        justify-content: center;
    }
}