/*
This stylesheet normalizes all elements by removing default browser styling, 
providing a consistent starting point for custom styles.
*/

* {
    /*This helps to ensure consistent styling across different browsers.*/
    margin: 0;
    padding: 0;
}
*,
*::before,
*::after {
    /*The width and height properties will include the padding and border widths,
    making it easier to create consistent layouts.*/
    box-sizing: border-box;
}

:root { /*Variables*/
    /*Font*/
    font-size: 8px;
    /*Colors*/
    --color-primary: #ED1C24; /*red*/
    --color-red: #FF706B;
    --color-ligher-red: #DA3F3F;
    --color-lightest-red: #F8CCCC;
    --color-lightest-gray-red:#E5E5E5;
    --color-darkest-gray-red: #525252;
    --color-lighter-gray-red: #484848; /*a few letters*/
    --color-lightest-gray-red-v2: #666666;
    
    --color-gray-with-transparency: #78787869;
    --color-black-with-transparency: #00000063;
    --color-darker-black: #191919;
    --color-black: #000000;

    --color-darkest-black-blue: #323334;
    --color-white: #FFFFFF;
    --color-lighter-gray-new_page: #F3F3F3;
    --color-lightest-blue: #DEDFE1;

    --color-lightest-gray: #FAFAFA;
    --color-lightest-gray-v2: #F1F1F1;
    --color-lighter-gray: #CCCCCC;
    --color-darker-gray: #A3A3A3;
    --color-darkest-gray: #8A8A8A; /*ghost button text*/

    --color-darker-orange: #A86A3D;
    --color-lighter-violet: #DBD0CCCC;
}

body {
    min-height: 100dvh;
}
input,
button,
textarea,
select {
    font-family: Poppins;
    border: 2px solid var(--color-primary);
    background-color: var(--color-primary);
    transition: all 150ms;
}
button:hover {
    transform: scale(1.1);
}
a, button {
    text-decoration: none;
    text-align: left;
    font-size: clamp(0.1rem, 5.5vw, 2rem); /*max 16px = 2rem*/
    font-family: Poppins;
    font-weight: 400;
    text-transform: capitalize;
    color: var(--color-darker-black);
    transition: all 150ms;
}
a:hover {
    color: var(--color-primary);
}

img {
    display: block; /*img is type inline*/
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    text-align: center;
    box-sizing: border-box;
    border-radius: 1.25rem;
}
button:hover {
    cursor:pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: Poppins;
    text-align: center;
    font-weight: 400;
}

img,
video,
svg {
    /*They will scale to fit within their parent container while maintaining
    their aspect ratio.*/
    height: auto;
    max-width: 100%;
}

@media (prefers-reduce-motion: reduce) {
    /*This media query applies styles when the user has requested reduced motion.*/
    *,
    *::before,
    *::after {
        /*Sets the duration of all animations to an extremely short time (effectively disabling them).*/
        animation-duration: 0.01ms !important;
        /*Ensures that any animations will only play once, preventing looping animations.*/
        animation-iteration-count: 1 !important;
        /*Sets the duration of all transitions to an extremely short time (effectively disabling them).*/
        transition-duration: 0.01ms !important;
        /*Disables smooth scrolling, reverting to the default instant scrolling behavior.*/
        scroll-behavior: auto !important;
    }
}